@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: "Manrope", sans-serif;
}

a:link,
a:visited {
  color: #0645ad;
}

.profile-header {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .profile-header {
    justify-content: center;
  }
  .profile-info {
    width: 180px;
  }
}
